body {
    background-image: url("https://i.etsystatic.com/29590405/r/il/6fcb9f/4654888066/il_fullxfull.4654888066_qm9i.jpg");
}

table {
    color: black;
    width: 200px;
    font-size: 30px;
}

caption {
    color: red;
}

th {
    font-size: 35px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    width: 50px;
    height: 50px;
}

.centers {
    position: relative;
    z-index: 1000;
}
