<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_menu.css">
    <link rel="icon" href="../static/images/pizza_icon.png">
</head>
<body>
<div class="center">
    <table border="5px">
        <caption>
            <b>
                Menu
            </b>
        </caption>
        <tr>
            <th>
                Pepperoni
            </th>
            <th>
                mozzarella, champignons, salami, pesto sauce, tomato sauce, oregano.
            </th>
            <th>
                Pizza BBQ
            </th>
            <th>
                Chicken fillet, smoked brisket, onion, hunting sausages, suluguni, parsley, mozzarella, sauce.
            </th>
        </tr>
        <tr>
            <th>
                4 Cheeses
            </th>
            <th>
                mozzarella cheese, ripe tomatoes and fresh basil leaves.
            </th>
            <th>
                Diablo
            </th>
            <th>
                sausages (Bavarian, Vienna, pepperoni), soft mozzarella cheese, mushrooms, bell pepper.
            </th>
        </tr>
    </table>
</div>
</body>
</html>