<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin panel</h1>
<form action="/admin_panel/" method="post">
    <br> <h1>Add pizza</h1>
    <h2>Name</h2>
    <h2>Description</h2>
    <h2>Sale</h2>
    <label for="name">Name pizza</label> <br>
    <input type="text" id="name" name="name" required> <br>
    <label for="description">Description</label> <br>
    <input type="text" id="description" name="description" required> <br>
    <label for="price">Sale</label> <br>
    <input type="number" id="price" name="price" required> <br>
    <button type="submit">Add pizza</button>
  </form>
</body>
</html>