<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You bot</title>
</head>
<body>
    <h1> АХААХАХАХАХАХАХАХАХА БОТЯРА ДАЖЕ КАПТЧУ ДЛЯ ДДОС САЙТА НЕ СМОГ ПРОЙТИ АХАХАХАХАХАХАХАХАХАХАХАХАХА
    АХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХА
    АХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХА
    АХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХА
    АХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХА</h1>
</body>
</html>