<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordirman</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="../static/images/pizza_icon.png">
</head>
<body>
    <p class="work_time"><b>mn-fr 10:00-19:00</b></p>
    <h1 class="center_text"> {{ users }} </h1>
    <div class="center">
        <a class="secret" href="/secret_pizza/" target="_blank">
            <img class="img_logo" src="../static/images/pizza_logo.png">
        </a>
    </div>
    <a class="menu" href="/menu2/" target="_blank">Menu</a>
    {% include "hot_line.html" %}
    <div class="center_result">
        <a class="result" href="/results/" target="_blank">Best Employees of the Month</a>
    </div>
</body>
</html>