<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordirman</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="../static/images/pizza_icon.png">
</head>
<body>
    <p class="work_time"><b>mn-fr 10:00-19:00</b></p>
    <h1 class="center_text"> {{ users }} </h1>
    <div class="center">
        <a class="secret" href="/secret_pizza/" target="_blank">
            <img class="img_logo" src="../static/images/pizza_logo.png">
        </a>
    </div>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% elif weather_data.temp >= 20 %}
    <div class="border">
        <p>Температура: {{ weather_data.temp }}°C и советуем купить очень холодный Diablo</p>
        <p>Описание: {{ weather_data.description }}</p>
    </div>
    {% elif weather_data.temp < 20 %}
    <div class="border2">
        <p>Температура: {{ weather_data.temp }}°C и советуем купить наши авторские пиццы</p>
        <p>Описание: {{ weather_data.description }}</p>
    </div>
    {% else %}
        <p>Данные о погоде недоступны.</p>
    {% endif %}
    <div class="center_menu">
    <ul class="mainMenu">
        <li>
            Menu >
            <ul class="subMenu">
                <li><a href="/menu/">Original Menu</a></li>
                <li><a href="/menu2/">From higher price to lower price Menu</a></li>
                <li><a href="/menu3/">Special offer Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="/results/">
                Best Employees of the Month
            </a>
        </li>
    </ul>
    </div>
    {% include "hot_line.html" %}
</body>
<script src="../static/js/special_offer.js"></script>
</html>