<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_menu.css">
    <link rel="icon" href="../static/images/pizza_icon.png">
</head>
<body>
{% include "menu_buttons.html" %}
<div class="center">
    <table border="5px">
        <caption>
            <b>Menu</b>
        </caption>
        {% for pizza in pizzas | sort(attribute="price") %}
        <tr>
            <td>{{ pizza[1] }}</td>
            <td>{{ pizza[2] }}</td>
            <td>{{ pizza[3] }} грн</td>
            <td>
                <form action="/{{ pizza[0] }}/edit/" method="post">
                    <button type="submit" class="button_sigma">Edit</button>
                </form>
            </td>
            <td>
                <form action="/{{ pizza[0] }}/delete/" method="post">
                    <button type="submit" class="button_sigma">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% include "hot_line.html" %}
<a href="/login/">Back to main</a>
</body>
</html>