<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_menu.css">
    <link rel="icon" href="../static/images/pizza_icon.png">
</head>
<body>
{% include "menu_buttons.html" %}
<div class="center">
    <table border="5px">
        <caption>
            <b>Special offer</b>
        </caption>
        <tr>
          <th>
            Hawaiian pizza
          </th>
          <th>
            canned pineapple, tender chicken fillet, mozzarella and parmesan cheeses, cheese sauce, arugula and tomatoes
          </th>
          <th>
             1̶0̶0̶ - 99,99
          </th>
        </tr>
    </table>
</div>
{% include "hot_line.html" %}
<a class="back" href="/login/">Back to main</a>
</body>
</html>