<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My favorite employees</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="../static/images/pizza_icon.png">
</head>
<body>
<div class="center_image">
    <img class="img_logo" src="../static/images/pizza_logo.png">
</div>
    <h1>My team:</h1>
    <h2>Aboba(Backend, Frontend, krutoi pupsik): Добре працює(є слухи що його вчив сам )</h2>
    <h2>aboba_mini(backend, frontend, mini krutoi pupsik): приємник Aboba</h2>
    <h2>stager(backend, frontend, ne krutoi pupsik): із-за нього і трапляються всі баги і тп.</h2>
</body>
</html>